.TableStyle {
    overflow-x: auto; 
    white-space: nowrap; 
  }
  
::ng-deep .p-autocomplete-loader {
  display: none;
}

::ng-deep .p-autocomplete-item {
  padding: 5px;
  font-size: small;
}

/* Make buttons smaller */
::ng-deep .p-button {
  font-size: small;
  padding: 5px;
}

/* adjust the icon size within buttons */
::ng-deep .p-button .pi {
  font-size: small;
}


::ng-deep .p-multiselect-label {
  font-size: small;
  padding: 5px;
}


::ng-deep .p-multiselect-item{
  padding: 5px;
  font-size: small;
}
 
.selectable-cell:hover {
  cursor: pointer;
}


@media (min-width: 1277px) {
  
  #dropdownGroup {
    display: none;
  }


  #business   ::ng-deep .p-autocomplete-input {
    height: 30px;
  }

  #Tenant   ::ng-deep .p-autocomplete-input {
    height: 30px;
  }

}



@media (max-width: 1276px) {
  .p-button-outlined , p-button {
    display: none;
  }
  #dropdownGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: -32px;
  }


  ::ng-deep  .p-tieredmenu {
    width:128.98px !important;
  }

  ::ng-deep .p-menuitem-link {
    text-decoration: none;
  }

  #business   ::ng-deep .p-autocomplete-input {
    margin-right: 70px;
    height: 30px;
  }

  #Tenant   ::ng-deep .p-autocomplete-input {
    height: 30px;
  }

}



@media (max-width: 1057px) {


  #business   ::ng-deep .p-autocomplete-input {
    position: relative;
    right:20px;
  }

}


@media (max-width: 1033px) {

  #business   ::ng-deep .p-autocomplete-input {
    position: relative;
    right:40px;
  }

  #Tenant ::ng-deep .p-autocomplete-input {
    position: relative;
    right:25px;
  }

}


@media (max-width: 1033px) {
  #business   ::ng-deep .p-autocomplete-input {
    position: relative;
    right:40px;
  }
}


@media (max-width: 1009px) {
  #business   ::ng-deep .p-autocomplete-input {
    position: relative;
    right:65px;
  }

  #Tenant   ::ng-deep .p-autocomplete-input {
    margin-right: 20px;
  }
}


@media (max-width: 1006px) {

  #business   ::ng-deep .p-autocomplete-input {
    position: relative;
    left: 370px;
    bottom:30px;
  }

  #Tenant ::ng-deep .p-autocomplete-input {
    margin-right: 270px;
    max-width: 130px;
  }


  #dropdownGroup {
   position: relative;
   bottom: 30px;
  }

  #business .pi {
    display: none;
  }

}


@media (max-width: 991px) { 
  #Tenant   ::ng-deep .p-autocomplete-input {
    margin-top: 50px;
    margin-left: 25px;
    min-width: 200px;
  }

  #business   ::ng-deep .p-autocomplete-input {
    position: relative;
    top:5px;
    left:0px;
    min-width: 200px;
  }


  #dropdownGroup {
    display: flex;
    justify-content: flex-start;
    bottom: 70px;
  }

  ::ng-deep .p-splitbutton  {
    width: 200px !important;
  }

  ::ng-deep  .p-tieredmenu {
    width:200px !important;
  }



}


@media (max-width: 794px) {

  #Tenant   ::ng-deep .p-autocomplete-input {
    margin-top: 55px;
  }

  #Tenant .pi {
    display: none;
  }

  #dropdownGroup {
    display: flex;
    justify-content: flex-start;
  }

}


@media (max-width: 790px) and (min-width: 768px) {
  

  #Tenant   ::ng-deep .p-autocomplete-input {
    margin-right: 0px !important;
  }

}




@media (max-width: 535px) {
 
  #Tenant   ::ng-deep .p-autocomplete-input {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  
}



@media (max-width: 345px) {
 

  #business   ::ng-deep .p-autocomplete-input {
    margin-right: 0px !important;
    padding-right: 0px !important;
  }
  
}