<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-table  [columns]="selectedColumns"
  [value]="connectionPointPage.content" [paginator]="true" [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' ,'font-size':'small' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[1, 5, 10, 20]"
  [rows]="pageSize" [totalRecords]="connectionPointPage.totalElements" (onLazyLoad)="onPageChange($event)" [lazy]="true"
  [loading]="loading" (sortFunction)="onPageChange($event)" [customSort]="true" [(selection)]="selectedCps" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
  <ng-template pTemplate="caption">
    <div class="row align-items-center">

      <div class="col">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
          selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px' , 'font-size':'smaller'}" placeholder="Choose Columns">
        </p-multiSelect>
      </div>
      <div class="col-auto ml-auto">
        <button pButton label="Export" class="p-button-outlined" icon="pi pi-upload"  style="font-size: smaller;" (click)="exportToExcel()"></button>
      </div>
      <div class="col-auto">
        <div class="input-group">

          <span class=" p-input-icon-left ml-auto" id="Tenant">
            <p-autoComplete placeholder="Filter by tenant" [(ngModel)]="selectedTenant" (completeMethod)="filterTenants($event)"
              [suggestions]="tenantSuggestions" (onSelect)="searchWithFilters()"
              (keydown.enter)="searchWithFilters()" [inputStyle]="{'width': '140px', 'font-size': 'small' , 'padding' : '5px'}"  [panelStyle]="{'font-size': 'smaller'}"></p-autoComplete>
          </span>

        </div>
      </div>

      <div class="col-auto">
        <div class="input-group">
          <span class=" p-input-icon-left ml-auto" id="business">
            <p-autoComplete placeholder="Filter by Partner" [(ngModel)]="selectedBusinessPartner"
              (completeMethod)="filterBusinessPartners($event)" [suggestions]="businessPartnerSuggestions" field="name"
              (onSelect)="searchWithFilters()" (keydown.enter)="searchWithFilters()" [inputStyle]="{'width': '140px', 'font-size': 'small' , 'padding' : '5px'}"  [panelStyle]="{'font-size': 'smaller'}"></p-autoComplete>
          </span>
        </div>
      </div>
      <div class="col-auto ml-auto">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
          (click)="clearFilters()" style="font-size: smaller;"></button>
      </div>
      <div class="col-auto ml-auto" *ngIf="userIsAdmin">
        <button pButton label="Add" class="p-button-outlined" icon="pi pi-plus"  style="font-size: smaller;" routerLink="add"></button>
      </div>
      <div class="col-auto">
        <button pButton label="Refresh" class="p-button-outlined" icon="pi pi-refresh" (click)="search()"
          style="font-size: smaller;"></button>
      </div>
      <div class="col-auto ml-auto"   *ngIf="selectedCps && selectedCps.length!=0 && userIsAdmin">
        <p-button label="Delete" [outlined]="true" severity="danger" (click)="delete($event)"></p-button>
      </div>
    </div>


    <div class="col-auto" id="dropdownGroup">
      <p-splitButton label="Actions" icon="pi pi-bars" [model]="items"></p-splitButton>
    </div>

  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4rem" *ngIf="userIsAdmin">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
    </th>
      <ng-container *ngFor="let col of columns">
        
        <th *ngIf="col.field != 'baseUrl' && col.field != 'connectionPointServices'" pSortableColumn="{{col.field }}">
          {{col.header}}
          <p-sortIcon field="{{col.field}}"></p-sortIcon>
        </th>
        <th *ngIf="col.field == 'baseUrl' || col.field == 'connectionPointServices'">
          {{col.header}}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-connectionPoint let-columns="columns">
    <tr [pSelectableRow]="connectionPoint" >
      <td *ngIf="userIsAdmin">
        <p-tableCheckbox [value]="connectionPoint"></p-tableCheckbox>
    </td>
      <td *ngFor="let col of columns" routerLink="{{connectionPoint.id}}" class="selectable-cell">
        {{connectionPoint[col.field]}}
      </td>
    </tr>
  </ng-template>

</p-table>

